<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" 
name="C:/Users/kavitha/IdeaProjects/APPomMavenProject/src/test/java/com/Testcases">
<classes>
<class name="com.Testcases.SignInpageTest">
<methods>
<include name="craeteaccount"/>
</methods>
</class>
<class name="com.Testcases.Testcase_002"><methods>
<include name="Signinbutton"/>
</methods>
</class>
<class name="com.Testcases.Testcase_003">
<methods><include name="SelectDress"/>
<include name="selectTshirt"/>
<include name="SelectTshirtSize"/>
</methods>
</class>
</classes>
</test>
</suite>